
<article>
    <section class="intro">
        <section class="intro_photo">
            <p><%= little_Grebes %>
            </p>
        </section>
        <section class="intro_text round">
            <p>
      Natural History Related Events in Mole Valley

    Mole Valley has a lively and active community of natural history enthusiasts. There are events
    that suite all levels of experience. We provide here some links that will keep you up to date
    with natural history related activities in Mole Valley.
</p>
        </section>
        <section><%= render_breadcrumbs :separator => ' > ' %>
        </section>
    </section>
    <h1 class="page_title round">Events</h1>
    <section class="information round">
        <p>
        </p>
        <section class="info_individual">
            <section class="color_rows_title round">
                <h2>
                </h2>
            </section>
            <section class="color_rows_desc round">
                <p>
                </p>
            </section>
            <section class="color_rows_date round">
                <h3> Announced: 
                </h3>
            </section>
        </section>
        <p>
        </p>
        <br>
        </section>
    </article>
