
<section class="intro">
<h1 class="page_title round">Organisations</h1>

<p>
  <%= image_tag("birds/Mute Swan and Cygnets.jpg", :alt => "Mute Swan and Cygnets", :class => "round") %>
  </p>
</section>

<section>
<p>
<%= paginate @organisations %>
</p>



    <% @organisations.each do |organisation| %>
      <tr class="color_rows_title">
        <td><h2><%= organisation.title %></h2></td></tr>
        <tr class="color_rows_desc"><td><%= organisation.description %></td></tr>
      
    <% end %>

<br>
</section>

