
<article>

<section class="intro">
<h1 class="page_title round">Organisations</h1>

<p>
  <%= image_tag("birds/Mute Swan and Cygnets.jpg", :alt => "Mute Swan and Cygnets", :class => "round") %>
  </p>
</section>

<section class="information">
<p>
<%= paginate @organisations %>
</p>

    <% @organisations.each do |organisation| %>
    <section class="info_individual">
      	<section class="color_rows_title round"><h2><%= organisation.title %></h2></section>
        <section class="color_rows_desc round"><p><%= organisation.description %></p></section>
      </section>
    <% end %>

<br>
</section>
</article>

