<article>

<h1 class="page_title round">Organisations</h1>

<%= paginate @organisations %>

<table>
  <thead>
    <tr>
      <th>Organisation</th>
      <th>Description</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @organisations.each do |organisation| %>
      <tr>
        <td><%= organisation.title %></td>
        <td><%= organisation.description %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

</article>