<article>
  <h1>What you can see</h1>
  
  <p>
    You can find here links to information on a range of characteristic species
    that are found in Mole Valley.
  </p>



  <section>

  <p>
       <%= link_to "Birds", what_is_here_birds_path %>
  </p>
    <p>
    Bats
  </p>
    <p>
       <%= link_to "Butterflies", what_is_here_butterflies_path %>
    About 60 different kinds of butterfly occur in Britain. More than half of them can be
    seen in Mole Valley, including several nationally scarce butterflies of chalk
    grassland and woodland. The high number of species found locally reflects the location of Mole
    Valley in the warm south east corner of England, and the variety of habitats.
    Fewer species can survive in the north of Britain, although some are moving
    northwards as a result of climate change.
  </p>
    <p>
      Dragonflies and Damselflies
  </p>
    <p>
       <%= link_to "Fungi", what_is_here_fungi_path %>
  </p>
    <p>
      Moths
  </p>
    <p>
       <%= link_to "Plants", what_is_here_plants_path %>
  </p>

    
  </section>


</article>
  

  

    



  












