/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_normalize
 */

.container {
	width: 930px;
	margin: auto;
	display: block;
}

.page_title {
	padding: 0.5em;
	background: SandyBrown;
	display: inline-block;

}

.round {
	-moz-border-radius: 20px;
	-webkit-border-radius: 20px;
	border-radius: 20px;

}

.round_home {
	-moz-border-top-left-radius: 18px;
	-webkit-border-top-left-radius: 18px;
	border-top-left-radius: 18px;
	-moz-border-bottom-left-radius: 18px;
	-webkit-border-bottom-left-radius: 18px;
	border-bottom-left-radius: 18px;
}

.round_contact {
	-moz-border-top-right-radius: 18px;
	-webkit-border-top-right-radius: 18px;
	border-top-right-radius: 18px;
	-moz-border-bottom-right-radius: 18px;
	-webkit-border-bottom-right-radius: 18px;
	border-bottom-right-radius: 18px;
}

.admin_login {
	padding: 0.5em;
	background: #fff;
	display: inline-block;

}

td.main {
	width: 100%;
	padding: 1em;
}

body {
	background: -webkit-linear-gradient(left top, BurlyWood, LimeGreen ); /* For Safari */
	background: -o-linear-gradient(bottom right, BurlyWood, LimeGreen ); /* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(bottom right, BurlyWood, LimeGreen ); /* For Firefox 3.6 to 15 */
	background: linear-gradient(to top right, BurlyWood, LimeGreen ); /* Standard syntax */

}

header {
	padding-top: 20px;
}

header img {
	padding: 0em;
	background: #fff;
	display: block;
    margin-left: auto;
    margin-right: auto;
}


section {
	margin-top: 1em;
	font-size: 120%;
	padding: 20px;
	background: #fff;
}

section h1 {
	font-size: 200%;
}



/* Links */

a {
	color: #09c;
	text-decoration: none;
}

a:hover {
	color: #069;
}

a:visited {
	color: #069;
}


/* Navigation */


nav {
	 
	text-align: center;
	display: inline-block;
	margin-left: auto;
    margin-right: auto;

}
	nav ul li:hover > ul {
		display: block;
	}

nav ul {
	box-shadow: 0px 9px 9px rgba(0,0,0,2.45);
  	background: #fff;
	list-style: none;
	position: relative;
	font-family: Helvetica; 
	font-size: 18px;
	margin:0; 
	padding:0;


}
	nav ul:after {
		content: ""; 
		clear: both; 
		display: block;
		list-style: none;
	}

	nav ul li {
		
		display: inline-block;
		list-style: none;
		padding-left: 0;
		margin-left: 0;
		/*float: left;*/
		

	}
		nav ul li:hover {
			background: #4b545f;

		}
			nav ul li:hover a {
				color: #fff;
			}
		
		nav ul li a {
			display: block; 
			padding: 18px 30px;
			color: #757575; 
			text-decoration: none;
		}
			
		
	nav ul ul {
		background: #5f6975;
		position: absolute; 
		top: 100%;
		display: none;
		margin:0; 
		padding:0;
		-moz-border-bottom-left-radius: 18px;
		-webkit-border-bottom-left-radius: 18px;
		border-bottom-left-radius: 18px;
		-moz-border-bottom-right-radius: 18px;
		-webkit-border-bottom-right-radius: 18px;
		border-bottom-right-radius: 18px;

		
	}
		nav ul ul li {
			display:block;
   			width: 175px;
			text-align: center;
			-moz-border-bottom-left-radius: 18px;
			-webkit-border-bottom-left-radius: 18px;
			border-bottom-left-radius: 18px;
			-moz-border-bottom-right-radius: 18px;
			-webkit-border-bottom-right-radius: 18px;
			border-bottom-right-radius: 18px;
			
		}
			nav ul ul li a {
				
				color: #fff;
			}	
				nav ul ul li a:hover {
					background: #4b545f;
					-moz-border-bottom-left-radius: 18px;
					-webkit-border-bottom-left-radius: 18px;
					border-bottom-left-radius: 18px;
					-moz-border-bottom-right-radius: 18px;
					-webkit-border-bottom-right-radius: 18px;
					border-bottom-right-radius: 18px;
					

					


				}

footer {
	text-align: center;
	margin-top: 10px;
	width: 900px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	background: #fff;
	-moz-border-radius: 20px;
	-webkit-border-radius: 20px;
	border-radius: 20px;
}


/* Sign up button */
/*
a.signup_button {
	margin-left: auto;
	margin-right: auto;
	display: block;
	text-align: center;
	width: 190px;
	color: #fff;
	background: #006400;
	font-size: 150%;
	font-weight: bold;
	padding: 20px;
}
*/
/*Round corners*/



/*Footer*/



/*User show page*/

/*
table.profile {
	width: 100%;
	margin-bottom: 0;
}*/



/*td.sidebar {
	width: 30%;
	padding: 1em;
	vertical-align: top;
	background: #ffc;
}*/

/*.profile img.gravatar {
	border: 1px solid #999;
	margin-bottom: -15px;
}


div.field, div.actions {
	margin-bottom: 10px;
}

ul.users {
	margin-top: 1em;
}

ul.users li {
	list-style: none; 
}
*/