
footer {

	margin-top: 10px;
	width: 900px;
	/*display: block;*/
	margin-left: auto;
	margin-right: auto;
	
	-moz-border-radius: 20px;
	-webkit-border-radius: 20px;
	border-radius: 20px;
	box-shadow: 0px 10px 10px rgba(0,0,0,0.9);
	background: -webkit-linear-gradient(left top, BurlyWood, LimeGreen );
	background: -o-linear-gradient(bottom right, BurlyWood, LimeGreen ); 
	background: -moz-linear-gradient(bottom right, BurlyWood, LimeGreen );
	background: linear-gradient(to top right, BurlyWood, LimeGreen );
	background: -ms-linear-gradient(left top, BurlyWood, LimeGreen ); 
}


.copyright {
	float: left;
	padding-left: 30px;
	margin: 0!important;
	list-style-type: none!important; }
 
.social {
	float: right;
	padding: 0!important;
	margin-left: 80px;
	list-style-type: none!important; }
 
	.social li {
		box-shadow: 0px 5px 10px rgba(0,0,0,0.9);
		float: right!important;
		margin-right: 5px!important;
		margin-bottom: 20px!important;
		padding: 0px!important;
		display: inline!important;
		width: auto!important; }
 
		.social li a {
			-moz-transition: all 0.3s ease 0s;
			display: block!important;
			float: right!important;
			height: 100%!important;
			margin: 0!important;
			padding: 0!important;
			width: 40px!important;
			height: 40px!important; }
 
			.social li a:hover { background-position: 0 -40px!important; }
 
		.social li a { background-color: transparent; }
 
		.social li.facebook a { background: url(icons/facebook.png) no-repeat 0 0; }
 
			.social li.facebook a:hover { background-color: #3b5998; }
 
		.social li.flickr a { background: url(icons/flickr.png) no-repeat 0 0; }
 
			.social li.flickr a:hover { background-color: #f1628b; }
 
		.social li.googleplus a { background: url(icons/googleplus.png) no-repeat 0 0; }
 
			.social li.googleplus a:hover { background-color: #d94a39; }
 
		.social li.twitter a { background: url(icons/twitter.png) no-repeat 0 0; }
 
			.social li.twitter a:hover { background-color: #48c4d2; }
 
		.social li.youtube a { background: url(icons/youtube.png) no-repeat 0 0; }
 
			.social li.youtube a:hover { background-color: #f45750; }
 
.tooltip {
	display: inline;
	position: relative; }
 
	.tooltip:hover:after {
		background: #333;
		background: rgba(0,0,0,.8);
		border-radius: 5px;
		bottom: 56px;
		color: #fff;
		content: attr(title);
		left: 20%;
		padding: 5px 15px;
		position: absolute;
		z-index: 98;
		width: 90px; }
 
	.tooltip:hover:before {
		border: solid;
		border-color: #333 transparent;
		border-width: 6px 6px 0 6px;
		bottom: 50px;
		content: "";
		left: 50%;
		position: absolute;
		z-index: 99; }
 

