
header { 
	padding-bottom: 0px; 
	
}


.static {
	z-index: 2;
	width: 100%;
	position: fixed;
	height: 150px;
	top: 0px;
	box-shadow: 0px 15px 10px rgba(0,0,0,0.9);
	background: -webkit-linear-gradient(left bottom, BurlyWood, LimeGreen );
	background: -o-linear-gradient(top right, BurlyWood, LimeGreen ); 
	background: -moz-linear-gradient(top right, BurlyWood, LimeGreen );
	background: linear-gradient(to bottom right, BurlyWood, LimeGreen );
	background: -ms-linear-gradient(left bottom, BurlyWood, LimeGreen ); 

}	

.top_container {
	width: 900px;
	float: none;
	
	margin-right: auto;
	margin-left: auto;

}


	

	
.admin_login {
	padding: 12px;
	margin-right: 10px;
	margin-top: 0px;
	float: right;
	background: #fff;
	display: inline-block;
	box-shadow: 0px 15px 10px rgba(0,0,0,0.9);
	font-family: Helvetica;
	font-size: 15px;
	background: -webkit-linear-gradient(left top, BurlyWood, LimeGreen );
	background: -o-linear-gradient(bottom right, BurlyWood, LimeGreen ); 
	background: -moz-linear-gradient(bottom right, BurlyWood, LimeGreen );
	background: linear-gradient(to top right, BurlyWood, LimeGreen );
	background: -ms-linear-gradient(left top, BurlyWood, LimeGreen ); 
}
 
.admin_login:hover a {
	color: yellow;
	text-shadow: 5px 5px 8px orange;
}

.admin_login:active {
	box-shadow: 0px 5px 10px rgba(0,0,0,0.9);
	margin-top: 8px;
	transition: all 100ms ease-in-out;
}

.admin_login a {
	padding: 15px;
	color: #069 ;

}


.round_home {
	-moz-border-top-left-radius: 18px;
	-webkit-border-top-left-radius: 18px;
	border-top-left-radius: 18px;
	-moz-border-bottom-left-radius: 18px;
	-webkit-border-bottom-left-radius: 18px;
	border-bottom-left-radius: 18px; }
 
.round_contact {
	-moz-border-top-right-radius: 18px;
	-webkit-border-top-right-radius: 18px;
	border-top-right-radius: 18px;
	-moz-border-bottom-right-radius: 18px;
	-webkit-border-bottom-right-radius: 18px;
	border-bottom-right-radius: 18px; }


.menu {
	
	display: inline-block;
	margin-top: 10px;
	margin-right: auto;
	margin-left: auto;

	 }

 
	nav ul {
		box-shadow: 0px 10px 10px rgba(0,0,0,0.9);
		background: #fff;
		list-style: none;
		position: relative;
		font-family: Helvetica;
		font-size: 13px;
		margin: 0;
		padding: 0; 

	}
 
nav ul li {
			display: inline-block;
			list-style: none;
			padding-left: 0;
			margin-left: 0;
			transition: all 200ms ease-in-out;

			  }
 
			nav ul li:hover { background: #4b545f;
				/*border: 1px solid #fff004;*/


			}
 
				nav ul li:hover a { color: #fff;

									/*box-shadow: 0px 0px 0px rgba(0,0,0,0.9);*/
								}
 
				nav ul li:hover > ul { max-height: 250px;  }
 
			nav ul li a {
				display: block;
				padding: 8px 30px;
				color: #069 }
 
		nav ul ul {
			background: #5f6975;
			position: absolute;
			top: 100%;
			margin: 0; 
			padding: 0;
			-moz-border-bottom-left-radius: 18px;
			-webkit-border-bottom-left-radius: 18px;
			border-bottom-left-radius: 18px;
			-moz-border-bottom-right-radius: 18px;
			-webkit-border-bottom-right-radius: 18px;
			border-bottom-right-radius: 18px;
			max-height: 0px;
			overflow: hidden;
			-webkit-transition: max-height 0.8s linear;
			-moz-transition: max-height 0.8s linear;
			transition: max-height 0.8s linear; }
 
			nav ul ul li {
				display: block;
				width: 145px;
				text-align: center; }
 
				nav ul ul li a { color: #fff; }
 
					nav ul ul li a:hover {
						background: #4b545f;
						color: #fff;
						-moz-border-bottom-left-radius: 18px;
						-webkit-border-bottom-left-radius: 18px;
						border-bottom-left-radius: 18px;
						-moz-border-bottom-right-radius: 18px;
						-webkit-border-bottom-right-radius: 18px;
						border-bottom-right-radius: 18px;
						max-height: 200px; }
 

