

.view {
    width: 810px;
    height: 526px;

    margin: 0px;
    float: left;

    overflow: hidden;
    position: relative;
    text-align: center;

    cursor: default;
    background: #fff
}
.view .mask, .view .content {
	z-index: 1;
    width: 810px;
    height: 526px;
    position: absolute;
    overflow: hidden;
    top: 0;
}
.view img {
    /*display: block;*/
    /*position: relative*/
}
.view h2 {
    text-transform: uppercase;
    color: #fff;
    text-align: center;
   /* position: relative;*/
    font-size: 17px;
    padding: 10px;
    background: rgba(0, 0, 0, 0.8);
    margin: 200px 0 0 0
}
.view p {
    font-family: Georgia, serif;
    font-style: italic;
    font-size: 12px;
   /* position: relative;*/
    color: #fff;
    padding: 10px 20px 20px;
    text-align: center
}
.view a.info {
    /*display: inline-block;*/
    text-decoration: none;
    padding: 7px 14px;
    background: #000;
    color: #fff;
    text-transform: uppercase;
    box-shadow: 0 0 1px #000
}
.view a.info:hover {
    box-shadow: 0 0 5px #000
}



.view img {
    transition: all 0.2s linear;
}
.view .mask {
    opacity: 0;
    background-color: rgba(219,127,8, 0.7);
    transition: all 0.4s ease-in-out;
}
.view .mask a {
	padding: 40px;
}

.view h2 {
    transform: translateY(-150px);
    opacity: 0;
    transition: all 0.2s ease-in-out;
}
.view p {
    transform: translateY(150px);
    opacity: 0;
    transition: all 0.2s linear;
}
.view a.info{
    opacity: 0;
    transition: all 0.2s ease-in-out;
}


.view:hover img {
    /*transform: scale(1.1);*/
}
.view:hover .mask {
    opacity: 1;
}
.view:hover h2,
.view:hover p,
.view:hover a.info {
    opacity: 1;
    transform: translateY(0px);
}
.view:hover p {
    transition-delay: 0.1s;
}
.view:hover a.info {
    transition-delay: 0.2s;
}


