<footer>

<nav class="round">
<ul>
	<li><%= link_to "Contact Us", contact_us_path %> </li>
	<li>&copy; <%= Time.now.year %> - Mole Valley Natural History. All rights Reserved.</li>
<ul>
</nav>
</footer>