<footer>
<table>
	<tr>
	<td><aside class="copyright"> &copy; <%= Time.now.year %> Mole Valley Natural History. All rights Reserved. | <%= link_to "Contact Us", contact_us_path %></aside></td>
	<td></td>
	<td><aside class="social">
  <ul>
<li class="twitter" style="background-color: #f0f0f0">
<a href="http://www.twitter.com/Mvnh-original" target="_blank" title="Twitter !" class="tooltip"></a>
</li>

<li class="facebook" style="background-color: #f0f0f0">
<a href="http://www.facebook.com/mvnh" target="_blank" title="Facebook !" class="tooltip"></a>
</li>

<li class="youtube" style="background-color: #f0f0f0">
<a href="http://http://www.youtube.com/user/mole-valley-natural-history" target="_blank" title="YouTube !" class="tooltip"></a>
</li>

<li class="googleplus" style="background-color: #f0f0f0">
<a href="https://plus.google.com/mole-valley-natural-history" target="_blank" title="Google+ !" class="tooltip"></a>
</li>

<li class="flickr" style="background-color: #f0f0f0">
<a href="http://www.flickr.com/photos/mvnh-original" target="_blank" title="Flickr !" class="tooltip"></a>
</li>

</li>
</ul>
</aside> </td>
	</tr>
</table>

</footer>